*.svn
*.dll
*.ico
*.app
*.bmp
*.dmp
*.png
*.trx
*.git
*.vscode
*.exe
*.so
*.cache
*.pdf
*.log
*.csproj.user
*.tar.gz
*.sln
*.suo
.*
launchSettings.json
.vs
bin/
obj/
_result
_buildlog
Debug
Release
axacfa.icons_master
*.pubxml
*.pubxml.user